@import '../shared/color-code.scss';

.header-title {
    min-height: 120px;
    background-color: $bg ;
    margin: 0 -1rem;
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.content {
    border-radius: 10px;
    margin-top: -3em;
    background-color: white;
    min-height: calc(100vh - 20px);
    margin-left: 90px;
    margin-right: 90px;
    padding: 30px;

    .search-add {
        display: flex;

        .add-btn {
            background-color: $bg;
            color: black
        }
    }

    .search-bar {
        width: 100%;

    }
    .panel-container {
        display:flex;
        flex-direction:row;

        .panel-column {
            flex: 1;
          }
          
        .panel {/* Adjust the width as needed */
            margin: 10px;
            :hover {
                background-color: #b0b0d6;
            }
        }
      }

      .image {
        height: 25px;
        width: 35px;
    }
    
    .description {
        color: black;
        font-size: large;
        justify-content: space-between;
        align-items: center;
    }

    .table {

        td {
            text-align: left;
            color: #6f6f92
        }

        th {
            text-align: left;

            .description-icon {
                color: darkblue !important;
                margin-right: 5px;
                align-items: center;
            }
        }
    }

}

.action {
    display: flex;
    justify-content: space-between;
    /* To evenly distribute the buttons */
    align-items: center;
    /* To vertically center the buttons */

    &-btn {
        outline: none;
        border: none;

        &-color-delete {
            color: red !important;
        }

        &-color-edit {
            color: rgb(0, 34, 255) !important;
        }
    }
}