<div class="modal-header mb-2">
    <ng-container *ngIf="data.mode==DialogMode.New,else updateTitle">
        <h4 class="modal-title">Add Sites</h4>
    </ng-container>
    <ng-template #updateTitle>
        <h4 class="modal-title">Update Sites</h4>
    </ng-template>

    <div class="close-button">
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>
</div>

<!-- <div class="loading-overlay" *ngIf="isLoading">
    <mat-spinner diameter="32" color="primary"></mat-spinner>
</div> -->

<div class="container">
    <mat-stepper linear=true #stepper>
        <form [formGroup]="siteForm">
            <div class="mt-3">
                <mat-step>
                    <ng-template matStepLabel>Site </ng-template>
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title" class="input">
                    </mat-form-field>
                    <!-- <p *ngIf="username.touched && username.invalid">
     <mat-error *ngIf="username.errors['required']">Username is required</mat-error></p> -->

                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Keywords</mat-label>
                        <input matInput placeholder="Keywords" formControlName="keywords" class="input">
                    </mat-form-field>
                    <!-- <p *ngIf="username.touched && username.invalid">
                    <mat-error *ngIf="username.errors['required']">Username is required</mat-error></p> -->

                    <mat-divider class="mb-2"></mat-divider>
                    <div class="alignButtonClose">
                        <button mat-raised-button matStepperNext align="end">Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Site Details</ng-template>
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="description" formControlName="description" class="input">
                    </mat-form-field>
                    <!-- <p *ngIf="username.touched && username.invalid">
     <mat-error *ngIf="username.errors['required']">Username is required</mat-error></p> -->

                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Url</mat-label>
                        <input matInput placeholder="xyz.com" formControlName="url" class="input">
                    </mat-form-field>
                    <!-- <p *ngIf="username.touched && username.invalid">
     <mat-error *ngIf="username.errors['required']">Username is required</mat-error></p> -->

                    <mat-divider class="mb-2"></mat-divider>
                    <div class="alignButtonClose">
                        <button mat-raised-button matStepperNext align="end">Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Site Email and Photo </ng-template>
                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Email Id</mat-label>
                        <input matInput placeholder="xyz12@gmail.com" formControlName="emailId" class="input">
                    </mat-form-field>
                    <!-- <p *ngIf="emailId.touched && emailId.invalid">
         <mat-error *ngIf="emailId.errors['required']">Email is required</mat-error>
         <mat-error *ngIf="emailId.errors['pattern']">Enter valid email</mat-error> </p> -->

                    <mat-form-field class="input-field" appearance="fill">
                        <mat-label>Upload Image</mat-label>
                        <ngx-mat-file-input formControlName="image" (change)="onFileSelected($event)" class="input-file"
                            accept="image/*"></ngx-mat-file-input>
                    </mat-form-field>

                    <div class="imgDiv">
                        <ng-container *ngIf="data.mode==DialogMode.Edit && imageBase64==null; else elseBlock">
                            <img [src]="'data:image/png;base64,' + image.value" alt="Image" class="image">
                        </ng-container>

                        <ng-template #elseBlock>
                            <img *ngIf="imageBase64!=null" [src]="imageBase64" alt="Image" class="image">
                        </ng-template>
                    </div>

                    <mat-divider class="mb-2"></mat-divider>
                    <div class="alignButton">
                        <ng-container *ngIf="data.mode==DialogMode.New,else update">
                            <div class="space-between">
                                <button mat-raised-button class="close-btn" mat-dialog-close>Close</button>
                                <button mat-raised-button class="add-btn" (click)="upsertSite()">Add</button>
                            </div>
                        </ng-container>
                        <ng-template #update>
                            <div class="space-between">
                                <button mat-raised-button class="close-btn" mat-dialog-close>Close</button>
                                <button mat-raised-button class="add-btn" (click)="upsertSite()">Update</button>
                            </div>
                        </ng-template>

                    </div>
                </mat-step>
            </div>
        </form>
    </mat-stepper>
</div>