.modal-title {
    color: #3a3ae7;
}

.container {
    .input-field {
        width: 100%;
        margin-left: 25px;
        padding-right: 45px;
        padding-top: 10px !important;
        padding-bottom: -10px !important;
        background-color: white !important;
    }

    .error-messages {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-top: 0;
        font-size: 14px;
    }

    .alignButtonClose {
        justify-content: space-between !important;
        display: flex;

        .next-btn {
            background-color: #0ff454;
            color: white;
        }

        .close-btn {
            background-color: #fd1717;
            color: white;
        }
    }

    .imgDiv {
        margin-left: 180px;

        .image {
            width: 180px;
            height: 140px;
            vertical-align: top;
            justify-content: center;
        }

    }

    .alignButton {
        .space-between {
            justify-content: space-between !important;
            display: flex;

            .add-btn {
                background-color: #3a3ae7;
                color: white;

            }

            .close-btn {
                background-color: #fd1717;
                color: white;
            }
        }

    }

}